@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.App{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.header{
    background-image: url('../src/Assetes/pattern-bg.png');
    background-size: cover;
    height: 17.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-button{
    background-color: black;
    border: 0;
}

input{
    width: 30rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 10px 0 0px 10px;
    border: none;
    padding: 10px;
}

button{
    height: 3.5rem;
    width: 4rem;
    font-size: 1.5rem;
    border-radius: 0px 20px 20px 0px;
}

.data{
    display: flex;
    width: 100%;
    position: relative;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    width: 65rem;
    top: 75px;
    z-index: 3;
    gap: 2rem;
}

.data div{
    flex: 1;
}


.maps{
    height: 100%;
    width: 100%;
    z-index: 1;
}


h1{
    color: white;
}

h2{
    font-size: 1.6rem;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 3rem 1rem 1rem;
    margin: 0;
}

h3{
    margin: 0;
    opacity: 0.3;
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.last h2{
    border: none;
}


@media only screen and (max-width: 1100px) {

    .header{
        background-image: url('../src/Assetes/pattern-bg.png');
        background-size: cover;
        height: 20rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .data{
        display: block;
        width: 100%;
        position: relative;
        background-color: white;
        padding: 2rem;
        border-radius: 15px;
        text-align: center;
        width: 20rem;
        top: 100px;
        z-index: 3;
        gap: 1rem;
    }

    h1{
        color: white;
        position: relative;
        top: 60px;
    }

    
    h2{
        font-size: 1.6rem;
        border-right: none;
        padding: 0;
        margin: 0;
    }

    h3{
        margin: 0;
        opacity: 0.3;
        font-size: 0.9rem;
        padding-top: 1rem;
        padding-left: 0;
    }

    input{
        width: 19rem;
        height: 2rem;
        font-size: 1rem;
        border-radius: 20px 0 0px 20px;
        border: none;
        padding: 10px;
        position: relative;
    }

    .inputDiv{
        position: relative;
        top: 60px;
    }

    button{
        height: 3.5rem;
        width: 4rem;
        font-size: 1.4rem;
        border-radius: 0px 20px 20px 0px;
    }
  }